<app-menu></app-menu>

<div class="wrapper">

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="mb-2">
                    <h1 class="m-0">Manage Topics</h1>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="container-fluid">

                <div class="card card-default mt-3">
                    <div class="card-body">
                        <h6><b> Add topic:</b></h6>
                        <form action="" method="post" [formGroup]="topicForm" (ngSubmit)="topicSubmit()">
                            <div class="row">
                                <div class="ml-auto col-11" style="padding-right: 10px;">
                                    <input class="form-control" type="" name="new_topic" value=""
                                        formControlName="description">
                                </div>
                                <div class="ml-auto col-1" style="padding-right: 10px;">
                                    <button type="submit" name="save_topic" class="btn btn-primary" value="save_topic"
                                        routerLink="/topics">Create Topic</button>
                                </div>
                            </div>
                            <br>
                        </form>
                        <p *ngIf="repeated" style="color: red; align-items: center;">Error: Topic already exists.</p>

                        <h6><b>Manage topics:</b></h6>
                        <hr>
                        <app-topic *ngFor="let topic of topics" class="topic_row" [topic]="topic">
                        </app-topic>

                        <p *ngIf="topics.length == 0">No topics available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>