
    <h3 class='timeline-header'><b>@{{ comment.author.username }}</b> comentou
    </h3>
    <div class='timeline-body'>
        {{ comment.comment }}
    </div>

    <div *ngIf="group =='Gestor' || group == 'Admin'" class="timeline-footer" style="padding-bottom: 1.5rem;">
        <div class="form-group">
            <div class="float-right" style="width: 10%;">
                <form action="" method="post">
                    <input type="hidden" name="comment_id" value="{{ comment.id }}" />
                    <input (click)="deleteComment()" type="submit" value="Apagar Comentario" class="btn btn-danger btn-sm" />
                </form>
            </div>
        </div>
    </div>

    <div *ngIf="(group =='Leitor' || group == 'Autor') && comment.author.username== username" class="timeline-footer" style="padding-bottom: 1.5rem;">
        <div class="form-group">
            <div class="float-right" style="width: 10%;">
                <form action="" method="post">
                    <input type="hidden" name="comment_id" value="{{ comment.id }}" />
                    <input (click)="deleteComment()"  type="submit" value="Apagar Comentario" class="btn btn-danger btn-sm" />
                </form>
            </div>
        </div>
    </div>
    <hr>