<form action="." method="post" [formGroup]="topicUpdateForm" (ngSubmit)="topicUpdate()">
    <!-- {% csrf_token %}
    {% if user.group.description != " Gestor" or user.group.description !="Admin" %} -->
    <div class="row">
        <div class="col-8">
            <input class="form-control" name="topic_des" value="{{ topic.description }}" formControlName="description">
        </div>

        <div class="ml-auto col-4 text-right" style="padding-right: 10px;">
            <input type="hidden" name="topic_id" value="{{ topic.id }}" formControlName="description">
            <button type="submit" class="btn btn-primary mr-3" name="save" value="save">Save</button>
            <button *ngIf="topic.enabled" type="button" class="btn btn-primary btn-danger" (click)="disableTopic()"
                routerLink="/topics">Disable</button>
            <button *ngIf="!topic.enabled" type="button" class="btn btn-primary btn-success" (click)="enableTopic()"
                routerLink="/topics">Enable </button>
        </div>
    </div>
    <hr>
    <!-- {% endif %} -->
</form>