apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: gic-group-6
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: registry.deti:5000/gic-group-6/backend:v1
        resources:
          requests:
            memory: "32Mi"
            cpu: "10m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 8000
      initContainers:
      - name: init-django
        image: registry.deti:5000/gic-group-6/backend:v1
        command: 
          - "/bin/sh"
          - "-c"
          - |
            python manage.py makemigrations app &&
            python manage.py migrate &&
            python manage.py createsuperuser2 --noinput 
        env:
          - name: DJANGO_SUPERUSER_USERNAME
            value: "admin"
          - name: DJANGO_SUPERUSER_EMAIL
            value: "admin@example.com"
          - name: DJANGO_SUPERUSER_PASSWORD
            value: "admin_password"
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            type: redis-cluster 
