<app-menu></app-menu>

<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" [ngStyle]="{'margin-left': (!loggedIn) ? '0px' : ''}">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="mb-2">
                    <h1 class="m-0">Publications</h1>
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <app-search (submit)="getFormData($event)"></app-search>

                <div class="card card-default mt-3">
                    <div class="card-body">


                        <p *ngIf="publications.length>1">Found {{publications.length}} publications.</p>

                        <p *ngIf="publications.length==1">Found {{publications.length}} publication.</p>

                            <!-- AQUI -->
                            <!-- Listar as publicações -->
                            <hr>
                            <div *ngFor="let publication of publications">
                                <app-publication [publication]="publication">
                                </app-publication>
                            </div>
                        <p *ngIf="publications.length==0">Não existem publicações disponíveis</p>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>



<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="/static/AdminLTE-3.1.0/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/static/AdminLTE-3.1.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="/static/AdminLTE-3.1.0/dist/js/adminlte.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="/static/AdminLTE-3.1.0/plugins/chart.js/Chart.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/static/AdminLTE-3.1.0/dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/static/AdminLTE-3.1.0/dist/js/pages/dashboard3.js"></script>
<!-- date-range-picker -->
<script src="/static/AdminLTE-3.1.0/plugins/daterangepicker/daterangepicker.js"></script>
<script>
    $(function () {
        //Date picker
        $('#reservationdate').datetimepicker({
            format: 'L'
        });
        $('#id_topic').addClass('form-control');
    });

    function go_to(id) {
        location.href = "../publication/" + id
    }
</script>