<app-menu></app-menu>

<div class="wrapper">


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <form action="" method="post" [formGroup]="postForm" (ngSubmit)="submitPublication()">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6 col-6">
                            <!--<h1 class="m-0">Título</h1> -->
                            <div class="row">
                                <div class="form-group mb-3" style="width: 90%;">
                                    <label>Title:</label>
                                    <input type="text" id="title" name="title" formControlName="title" class="form-control" width="100%">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-6">
                            <div class="row">
                                <div class="form-group mb-3"  style="width: 90%;">
                                    <label>Topic:</label>
                                    <select id="topic" name="topic" formControlName="topic" class="form-control">
                                        <option [ngValue]="null">Select Topic</option>
                                        <option *ngFor="let topic of topics">{{topic.description}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <!-- {{form.content}} -->
                                            <angular-editor formControlName="content" [config]="editorConfig">
                                            </angular-editor>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer clearfix">
                                    <button type="submit" class="btn btn-primary float-right" value><i
                                            class="fas fa-check"></i> Adicionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </form>
        <!-- /.content-wrapper -->
    </div>

</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="../static/AdminLTE-3.1.0/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../static/AdminLTE-3.1.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="../static/AdminLTE-3.1.0/dist/js/adminlte.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="../static/AdminLTE-3.1.0/plugins/chart.js/Chart.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../static/AdminLTE-3.1.0/dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="../static/AdminLTE-3.1.0/dist/js/pages/dashboard3.js"></script>
<!-- date-range-picker -->
<script src="../static/AdminLTE-3.1.0/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Summernote -->
<script src="../static/AdminLTE-3.1.0/plugins/summernote/summernote-bs4.min.js"></script>
<script>
    $(function () {
        //Date picker
        $('#reservationdate').datetimepicker({
            format: 'L'
        });
    });

    $(function () {
        // Summernote
        $('#summernote').summernote({
            height: 350,
        });
        bsCustomFileInput.init();
    })
</script>